@use '@/styles/variables' as *;
@use '@/styles/mixins' as *;

.footer {
  padding: 2vw 0;
  background-color: $primaryColor;
}

.text {
  font-size: $basicFontSize;
  color: $secondaryColor;
}

//---------------------------------adaptive-------------------------------------
@include media(tablet) {
  .footer {
    padding: 4vw 0;
  }
}