@use '@/styles/variables' as *;
@import '@/styles/globalStyles';

.section {
  padding: 6vw 0;
  background-image: url('@/assets/images/andres-molina-wIfDI58tCuU-unsplash.webp');
  background-position: 0 40%;
  background-repeat: no-repeat;
  background-size: cover;
  color: $secondaryColor;
  position: relative;
  min-height: 100vh;
  display: flex;
  justify-content: center;

  &::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(27, 24, 24, 0.8); // черный с 50% прозрачности
    z-index: 1; // поверх фона, но под контентом
  }
}

.container {
  @extend %container;
  margin: auto;
}

.content {
  text-align: center;
  position: relative; // важно
  z-index: 2;
}

.titleWrapper {

  .subtitle {
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
  }
  .title {
    font-family: 'Cormorant SC', sans-serif;
    font-weight: 500;
    font-size: clamp(30px, 8vw, 80px);
  }
}

.schedule {
  display: flex;
  justify-content: center;
  gap: 10vw;

  h3 {
    font-family: 'Cormorant SC', sans-serif;
    font-weight: 500;
  }

  span {
    font-family: 'Montserrat', sans-serif;
    text-transform: uppercase;

  }
}
