@use '../../styles/variables' as *;
@import "../../assets/fonts/fonts.scss";

.header {
  display: grid;
  grid-template-columns: 1fr auto 1fr;
  align-items: center;
  gap: 40px;
  padding: 1.4vw 2vw;

  font-family: 'Montserrat', sans-serif;
  font-weight: 500;
  font-size: 14px;
}

.navRight {
  justify-self: end;
}

.title {
  font-family: 'Cormorant SC';
  font-size: 43px;
  font-weight: 600;
  align-self: center;
  text-transform: uppercase;
  color: $primaryColor
}