@import "@/assets/fonts/fonts.scss";
@import '@/styles/globalStyles';

.header {
  padding: 1.4vw 0;

  font-family: 'Montserrat', sans-serif;
  font-weight: 500;
  font-size: clamp(10px, 1vw, 15px);
}

.container {
  @extend %container;
  display: grid;
  grid-template-columns: 1fr auto 1fr;
  align-items: center;
  gap: 40px;
}

.navRight {
  justify-self: end;
}

.title {
  font-family: 'Cormorant SC';
  font-size: clamp(30px, 5vw, 50px);
  font-weight: 600;
  justify-self: center;
  text-transform: uppercase;
}