@use '@/styles/variables' as *;

.button {
  position: fixed;
  top: 6vw;
  right: 15px;
  width: clamp(30px, 2vw, 60px);
  height: clamp(30px, 2vw, 60px);
  background-color: transparent;
  border: none;
  z-index: 1000;

  .line {
    position: absolute;
    top: 50%;
    right: 0;
    width: clamp(30px, 2vw, 60px);
    height: 1px;
    background-color: $primaryColor;
    transition: transform 0.3s ease;

    //horizontal line
    &:first-child {
      transform: rotate(0deg);
    }
    //vertical line
    &:last-child {
      transform: rotate(90deg);
    }
  }

  &.open {
    .line {
      &:first-child {
        transform: rotate(45deg);
      }
      &:last-child {
        transform: rotate(135deg);
      }
    }
  }
}



