@use '@/styles/variables' as *;
@use '@/styles/mixins' as *;

.button {
  position: fixed;
  top: clamp(15px, 5vw, 60px);
  right: 15px;
  width: clamp(32px, 6vw, 48px);
  height: clamp(32px, 6vw, 48px);
  background-color: transparent;
  border: none;
  z-index: 1000;
//  border: 1px solid red;

  .line {
    position: absolute;
    top: 50%;
    right: 0;
    width: 100%;
    height: 2px;
    background-color: $primaryColor;
    transition: transform 0.3s ease;

    //horizontal line
    &:first-child {
      transform: rotate(0deg);
    }

    //vertical line
    &:last-child {
      transform: rotate(90deg);
    }
  }

  &.open {
    .line {
      &:first-child {
        transform: rotate(45deg);
      }

      &:last-child {
        transform: rotate(135deg);
      }
    }
  }
}

@include media(smallTablet) {
  .button {
    top: clamp(15px, 5.5vw, 60px);
  }
}

@include media(mobile) {
  .button {
    top: clamp(15px, 5vw, 60px);
  }
}

