@use '@/styles/mixins' as *;
@use '@/styles/variables' as *;

.timer {
  display: flex;
  width: 100%;
  max-width: 60vw;

  div {
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: clamp(20px, 1vw, 5vw);

    & > span:first-child {
      font-family: $numberFontFamily;
      font-size: clamp(1rem, 10vw, 8rem);
    }
  }
}

@include media(smallTablet) {
  .timer {
    display: flex;
    flex-direction: column;
    gap: clamp(30px, 1vw, 200px);

    div {
      gap: 0;
      & > span:first-child {
        font-size: clamp(1rem, 20vw, 5rem);
      }
    }
  }
}