@use "@/styles/globalStyles" as *;
@use '@/styles/variables' as *;
@use '@/styles/mixins' as *;

.container {
  @extend %container;
  text-align: center;
}

.content {
//  text-align: center;
}

.title {
  margin-bottom: 6vw ;
  padding: 30vh 0;
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: linear-gradient(rgba(27, 26, 26, 0.7), rgba(21, 20, 20, 0.7)), url("@/assets/images/locationPage/JPG.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  color: $secondaryColor;
}

.link {
  text-decoration: underline;
  text-underline-offset: clamp(0.315rem, 0.3vw, 1rem);

  &:hover {
    opacity: 0.6;
  }
}

.stay {
  background-color: rgb(229, 225, 220);
}

.houseWrapper {
  display: grid;
  grid-template-columns: 1fr 1fr;

  & > img {
    width: 100%;
    max-width: 80%;

  }
}

//-----------------------------------adaptive-----------------------------------
@include media(tablet) {
  .title {
    padding: 33vh 0;
  }
}

@include media(smallTablet) {
  .title {
    padding: 37vh 0;
  }
}