@use '@/styles/variables' as *;

.overlay {
  position: fixed;
  display: flex;
  justify-content: center;
  align-items: center;
  inset: 0;
  background: rgba($primaryColor, .9);
  pointer-events: none;
  opacity: 0;
  visibility: hidden; //прячу чтобы их не видел TAB
  transition:
    opacity .5s ease,
    visibility .5s ease;
  z-index: 100;

  &.isOpen {
    pointer-events: auto;
    opacity: 1;
    visibility: visible; //делаю снова активными для TAB
  }
}

.modal {
  position: relative;
  padding: 40px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 20px;
  background: $secondaryColor;
}

.closeButton {
  position: absolute;
  top: 1vh;
  right: 1vw;
}