@use '@/styles/variables' as *;
@use '@/styles/mixins' as *;

.overlay {
  position: fixed;
  inset: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  background: rgba($primaryColor, .9);
  pointer-events: none;
  opacity: 0;
  visibility: hidden; //прячу чтобы их не видел TAB
  transition: opacity .5s ease, visibility .5s ease;
  z-index: 1000;

  &.isOpen {
    pointer-events: auto;
    opacity: 1;
    visibility: visible; //делаю снова активными для TAB
  }
}

.modal {
  position: relative;
  padding: clamp(55px, 5vw, 50px);
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: clamp(1vw, 2vw, 3vw);
  background: $secondaryColor;
}

.title {
  margin-top: 2vw;
  text-align: center;
}

.closeButton {
  position: absolute;
  top: 15px;
  right: 15px;
}

.navWrapper {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 2vw;
}

.button {
  align-self: center;
}

@include media(tablet) {
  .overlay {
    transform: translateY(-100%);
    opacity: 0;
    visibility: hidden;
    transition: transform 0s .5s ease, opacity .5s ease, visibility .5s ease;

    &.isOpen {
      transform: translateY(0);
      opacity: 1;
      visibility: visible;
      transition: transform 0.5s ease, opacity 0.5s ease;
    }
  }

  .modal {
//    padding: 5vw;
    width: 100%;
    height: 100%;
    justify-content: start;
  }

  .title {
    margin-top: 10vw;
  }

  .navWrapper {
    gap: 20vw;
  }

//  .button {
//    font-size: clamp(1rem, 5vw, 3rem);
//    padding: clamp(1em, 1vw, 2em) clamp(2em, 1vw, 2em);
////    font-size: clamp(1rem, 5vw, 2.5rem);
//  }

  .closeButton {
//    top: 6vw;
//    right: 15px;
    top: clamp(15px, 5vw, 60px);
//    right: 15px;
  }
}
