/*@font-face {*/
/*  font-family: 'Cormorant SC';*/
/*  src: url('../fonts/Cormorant/CormorantSC-Light.woff2') format('woff2');*/
/*  font-weight: 300;*/
/*  font-style: normal;*/
/*  font-display: swap;*/
/*}*/

/*@font-face {*/
/*  font-family: 'Cormorant SC';*/
/*  src: url('@/assets/fonts/Cormorant/CormorantSC-Regular.woff2') format('woff2');*/
/*  font-weight: 400;*/
/*  font-style: normal;*/
/*  font-display: swap;*/
/*}*/

@font-face {
  font-family: 'Cormorant SC';
  src: url('@/assets/fonts/Cormorant/CormorantSC-Medium.woff2') format('woff2');
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Cormorant SC';
  src: url('@/assets/fonts/Cormorant/CormorantSC-SemiBold.woff2') format('woff2');
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}

/*@font-face {*/
/*  font-family: 'Cormorant SC';*/
/*  src: url('@/assets/fonts/Cormorant/CormorantSC-Bold.woff2') format('woff2');*/
/*  font-weight: 700;*/
/*  font-style: normal;*/
/*  font-display: swap;*/
/*}*/

@font-face {
  font-family: 'Montserrat';
  src: url("@/assets/fonts/Montserrat/Montserrat-Regular.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Montserrat';
  src: url("@/assets/fonts/Montserrat/Montserrat-Medium.woff2") format("woff2");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}