.houseBlock {
  margin-top: 50px;

}

.houseWrapper {
  display: grid;
  grid-template-columns: 1fr 1fr;
  position: relative;
  gap: 50px;

  & > img {
    width: 100%;

  }

  & > p {
    text-align: start;
  }
}

.overlapBlock {
  margin-top: -200px;
  z-index: 2;
}