@use '@/styles/globalStyles' as *;
@use '@/styles/mixins' as *;
@use '@/styles/variables' as *;

.container {
  @extend %container;
}

.content {
  position: relative;
  display: grid;
  grid-template-columns: 1fr 2fr 1fr;
  column-gap: clamp(2vw, 10vw, 200px);
  align-items: center;
  justify-items: center;
}

.sidePhoto {
  align-self: center;
  margin-bottom: clamp(3vw, 5vw, 10vw);
}

.wrapper {
  @include flexWrapper(column, center, center);
  gap: $textGap;

  img {
    aspect-ratio: 3 / 4;
  }
}

.text {
  font-weight: 400;
  text-align: center;
  font-size: clamp(1rem, 1.5vw, 2rem);
}

.date {
  position: absolute;
  top: 25%;
  left: 50%;
  font-family: $numberFontFamily;
  font-size: clamp(3.75rem, 10vw, 9.375rem);
  transform: translate(-50%, -50%);
  white-space: nowrap;
//  z-index: 1;
}

//---------------------------------adaptive-------------------------------------
@include media(tablet) {
  .content {
    grid-template-columns: auto auto;
    grid-template-areas:
      "main main"
      "photo1 photo2";
  }

  .wrapper {
    width: 100%;
    @include imgWrapper;
    grid-area: main;
    gap: 0;
  }

  .text {
    padding: clamp(30px, 4vw, 4vw) 0;
  }

  .sidePhoto {
    max-width: 30vw;
    margin: 0;
  }

  .sidePhoto:first-of-type {
    grid-area: photo1;
    justify-self: flex-end;
  }

  .sidePhoto:last-of-type {
    grid-area: photo2;
    justify-self: start;
  }

  .date {
    top: 10%;
    font-size: clamp(3.75rem, 15vw, 9.375rem);
  }
}
