@use 'variables' as *;

*,
*::before,
*::after {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  text-transform: uppercase;
}

body {
  min-width: 375px;
  background-color: $secondaryColor;
  color: $primaryColor;
  font-family: $secondaryFontFamily;
  font-weight: 500;
  font-size: $basicFontSize;
}

section {
  padding: 8vh 0;
//  border: 2px solid blue;
}

h2, h3 {
  font-family: $mainFontFamily;
  font-weight: inherit;
  font-size: $titleFontSize;
}

a {
  text-decoration: none;
  color: inherit;
}

ul, li {
  list-style: none;
}

button {
  cursor: pointer;
}

%container {
  max-width: 1440px;
  width: 100%;
  padding-inline: clamp(15px, 1vw, 50px);
  margin: 0 auto;
//  border: 2px solid red;
}