@use 'variables' as *;

*,
*::before,
*::after {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  min-width: 375px;
  background-color: $secondaryColor;
}

a {
  text-decoration: none;
}

ul, li {
  list-style: none;
}