@use 'variables' as *;

*,
*::before,
*::after {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  text-transform: uppercase;
}

body {
  min-width: 375px;
  background-color: $secondaryColor;
  color: $primaryColor;

  font-family: 'Montserrat', sans-serif;
  font-weight: 500;
}

section {
  padding: 8vw 0;
}

h2, h3 {
  font-family: 'Cormorant SC', sans-serif;
  font-weight: inherit;
}

a {
  text-decoration: none;
  color: inherit;
}

ul, li {
  list-style: none;
}

button {
  padding: (clamp(8px, 1vw, 16px) clamp(12px, 1vw, 24px));
  border: 1px solid black;
  background-color: $primaryColor;
  transition: opacity 0.1s linear;
  cursor: pointer;

  font-family: inherit;
  font-weight: inherit;
  font-size: clamp(14px, 1vw, 18px);
  color: $secondaryColor;

  &:hover {
    opacity: 0.9;
  }
}

%container {
  max-width: 1440px;
  width: 100%;
  padding-inline: clamp(15px, 1vw, 50px);
  margin: 0 auto;
  border: 2px solid red;
}