@use 'variables' as *;

*,
*::before,
*::after {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  min-width: 375px;
  background-color: $secondaryColor;
  color: $primaryColor;
}

a {
  text-decoration: none;
}

ul, li {
  list-style: none;
}

button {
  cursor: pointer;
}

%container {
  max-width: 1440px;
  width: 100%;
//  padding: 0 15px;
  padding-inline: clamp(15px, 1vw, 50px);
  margin: 0 auto;
//  border: 1px solid red;
}