@use 'variables' as *;

@mixin media($media) {
  @if $media == tablet {
    @media (max-width: $tablet) { @content; }
  }
  @else if $media == smallTablet {
    @media (max-width: $smallTablet) { @content; }
  }
  @else if $media == l {
    @media (max-width: $l) { @content; }
  }
  @else if $media == xl {
    @media (max-width: $xl) { @content; }
  }
  @else if $media == xxl {
    @media (max-width: $xxl) { @content; }
  }
}