@use 'variables' as *;

@mixin flexWrapper($direction: null, $align-items: null, $justify-content: null, $flex-wrap: null) {
  display: flex;
  flex-direction: $direction;
  align-items: $align-items;
  justify-content: $justify-content;
  flex-wrap: $flex-wrap;
}

@mixin tabletButton {
  padding: clamp(1em, 1vw, 2em) clamp(2em, 1vw, 2em);
  font-size: clamp(1rem, 5vw, 2.5rem);
}

@mixin imgWrapper {
  max-width: 70vw;
}

@mixin titlePadding {
  padding-bottom: 6vw;
}

@mixin imageStandardSize {
  width: 100%;
  max-width: 470px;
//  margin: 0 auto;
}

@mixin media($media) {
  @if $media == tablet {
    @media (max-width: $tablet) { @content; }
  }
  @else if $media == smallTablet {
    @media (max-width: $smallTablet) { @content; }
  }
  @else if $media == mobile {
    @media (max-width: $mobile) { @content; }
  }
  @else if $media == laptop {
    @media (max-width: $laptop) { @content; }
  }
}