//--------------colors-------------
$primaryColor: hsla(40, 15%, 7.84%, 1);
$secondaryColor: hsla(40,17.65%,96.67%,1);

//------------breakpoints----------
$mobile: 480px;
$smallTablet: 768px;
$tablet: 1024px;
$laptops : 1280px;
