//--------------colors-------------
$primaryColor: hsla(40, 15%, 7.84%, 1);
$secondaryColor: hsla(40,17.65%,96.67%,1);

//------------breakpoints----------
$s: 576px;
$m: 768px;
$l: 992px;
$xl: 1200px;
$xxl: 1400px;
