@use '@/styles/variables' as *;
@use '@/styles/globalStyles' as *;

.scheduleSection {
  min-height: 120vh;
  display: flex;
  justify-content: center;

  background-image: url('@/assets/images/andres-molina-wIfDI58tCuU-unsplash.webp');
  background-position: 0 40%;
  background-repeat: no-repeat;
  background-size: cover;

  position: relative;

  &::before {
    width: 100%;
    height: 100%;

    background-color: rgba(18, 16, 16, 0.84);

    content: '';
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1; // поверх фона, но под контентом
  }
}

.container {
  @extend %container;
  margin: auto;
}

.content {
  text-align: center;
  color: $secondaryColor;
  position: relative; // важно
  z-index: 2;

  display: flex;
  flex-direction: column;
  gap: clamp(1vw, 4vw, 5vw);
}

.title {
  font-size: clamp(30px, 7vw, 120px);
}

.schedule {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  column-gap: clamp(50px, 1vw, 2vw);
  width: 100%;

  div {
    display: flex;
    flex-direction: column;
    gap: clamp(20px, 1vw, 5vw);

    & > span:first-child {
      font-family: 'Cormorant SC', sans-serif;
      font-weight: 500;
      font-size: clamp(20px, 5vw, 80px);
    }

    & > span:last-child {
      font-size: clamp(0.8rem, 1.3vw, 1.6rem);
    }
  }}

