@use '@/styles/variables' as *;
@use '@/styles/globalStyles' as *;
@use '@/styles/mixins' as *;

.scheduleSection {
  position: relative;
  min-height: 90vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: url('@/assets/images/andres-molina-wIfDI58tCuU-unsplash.webp');
  background-position: 0 40%;
  background-repeat: no-repeat;
  background-size: cover;

  &::before {
    position: absolute;
    content: '';
    width: 100%;
    height: 100%;
    background-color: rgba(18, 16, 16, 0.84);
    top: 0;
    left: 0;
    z-index: 1; // поверх фона, но под контентом
  }
}

.container {
  @extend %container;
}

.content {
  position: relative;
  display: flex;
  flex-direction: column;
  gap: $titleGap;
  text-align: center;
  color: $secondaryColor;
  z-index: 2;
}

.schedule {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: clamp(50px, 1vw, 2vw);

  div {
    display: flex;
    flex-direction: column;
    gap: clamp(20px, 1vw, 5vw);

    & > span:first-child {
      font-family: $numberFontFamily;
      font-size: clamp(1rem, 4vw, 5rem);
    }
  }
}

@include media(smallTablet) {
  .scheduleSection {
    min-height: 100vh;
  }

  .content {
    gap: 5vh;
  }

  .schedule {
    display: flex;
    flex-direction: column;

    div {
      gap: clamp(10px, 1vw, 5vw);

      & > span:first-child {
        font-size: clamp(1rem, 10vw, 5rem);
      }
    }
  }

  .title {
    font-size: $mobileTitleFontSize
  }
}
