@use '@/styles/variables' as *;
@import '@/styles/globalStyles';

.scheduleSection {
  background-image: url('@/assets/images/andres-molina-wIfDI58tCuU-unsplash.webp');
  background-position: 0 40%;
  background-repeat: no-repeat;
  background-size: cover;
  color: $secondaryColor;
  position: relative;
  min-height: 120vh;
  display: flex;
  justify-content: center;

  &::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(18, 16, 16, 0.84); // черный с 50% прозрачности
    z-index: 1; // поверх фона, но под контентом
  }
}

.container {
  @extend %container;
  margin: auto;
}

.content {
  text-align: center;
  position: relative; // важно
  z-index: 2;

  display: flex;
  flex-direction: column;
  gap: clamp(1vw, 4vw, 5vw);
}

.title {
  font-family: 'Cormorant SC', sans-serif;
  font-weight: 500;
  font-size: clamp(30px, 6vw, 120px);
}

.schedule {
  display: flex;
  justify-content: center;
  gap: min(10vw, 190px);

  div {
    display: flex;
    flex-direction: column;
    gap: clamp(20px, 1vw, 5vw);
  }

  h3 {
    font-family: 'Cormorant SC', sans-serif;
    font-weight: 500;
    font-size: clamp(20px, 4vw, 80px);

  }

  span {
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
    font-size: clamp(15px, 1vw, 30px);
  }
}
