@use '@/styles/variables' as *;

.list {
  display: flex;
  gap: clamp(20px, 1vw, 2vw);
}

.button {
  padding: clamp(8px, 1vw, 16px ) clamp(12px, 1vw, 24px );
  border: 1px solid $primaryColor;

  &:hover {
    background-color: $primaryColor;
    color: $secondaryColor;
    transition: .1s background-color linear,.1s color linear;
  }
}
