@use '@/styles/variables' as *;
@use '@/styles/mixins' as *;

.infoItem {
  display: flex;
  justify-content: space-between;
  text-align: left;
  gap: clamp(5em, 4vw, 5vw);

}

.titleWrapper {
  width: 100%;
  max-width: 50%;
  display: flex;
  flex-direction: column;
  gap: clamp(1vw, 2vw, 2vw);
}

.title {
  font-size: clamp(2rem, 4vw, 4rem);
  text-align: left;
}

.subtitle {
//  font-size: $navFontSize;
  line-height: $basicLineHeight;
}

.list {
  width: 100%;
  max-width: 50%;
  list-style: disc;
//  font-size: $navFontSize;
  line-height: $basicLineHeight;
  display: flex;
  flex-direction: column;
  gap: clamp(1em, 2vw, 3em);
}

.question {
  font-size: clamp(1rem, 1.2vw, 1.5rem);
  margin-bottom: 0.4em;
}

//-----------------------------------adaptive-----------------------------------
@include media(tablet) {
  .infoItem {
    flex-wrap: wrap;
    gap: 5vw;
  }

  .titleWrapper {
    max-width: 100%;

  }

  .list {
    padding-left: clamp(20px, 4vw, 5vw);
    max-width: 100%;
  }
}

