@use '@/styles/variables' as *;

.infoItem {
  display: grid;
  grid-template-columns: 1fr 1fr;
  text-align: left;
  gap: clamp(10em, 4vw, 5vw);

}

.titleWrapper {
  width: 100%;
  display: flex;
  flex-direction: column;
}

.title {
  font-size: clamp(2rem, 3vw, 3rem);
}

.subtitle {
  font-size: $navFontSize;
  line-height: $basicLineHeight;
}

.list {
  list-style: disc;
  font-size: $navFontSize;
  line-height: $basicLineHeight;
  display: flex;
  flex-direction: column;
  gap: clamp(1em, 2vw, 3em);
}

.question {
  font-size: clamp(1rem, 1.2vw, 1.5rem);
  margin-bottom: 0.4em;
}

