@use "@/styles/globalStyles" as *;
@use '@/assets/fonts/fonts' as *;

.header {
  padding: 1.4vw 0;

  font-size: clamp(10px, 1vw, 15px);
}

.container {
  @extend %container;
  display: grid;
  grid-template-columns: 1fr auto 1fr;
  align-items: center;
  gap: 40px;
}

.navRight {
  justify-self: end;
}

.title {
  justify-self: center;

  font-family: 'Cormorant SC', sans-serif;
  font-size: clamp(20px, 5vw, 50px);
  font-weight: 600;
}