@use "@/styles/globalStyles" as *;
@use '@/assets/fonts/fonts' as *;
@use '@/styles/mixins' as *;
@use '@/styles/variables' as *;

.header {
  padding: 1.4vw 0;
  font-size: clamp(0.75rem, 1vw, 1.125rem);
}

.container {
  @extend %container;
  display: grid;
  grid-template-columns: 1fr auto 1fr;
  align-items: center;
  gap: 40px;
}

.navRight {
  justify-self: end;
}

.navLeft, .navRight {
  @include media(tablet) {
    display: none;
  }
}

.title {
  position: relative;
  justify-self: center;
  grid-column: 2;
  font-family: $mainFontFamily;
  font-weight: 600;
  font-size: clamp(2rem, 3vw, 3rem);
}

@include media(tablet) {
  .header {
    font-size: clamp(1.5rem, 1vw, 3rem);
  }
}

@include media(mobile) {
  .title {
    font-size: clamp(1rem, 6vw, 3rem);
  }
}