.timer {
  display: flex;
  justify-content: center;
  width: 100%;
  column-gap: clamp(70px, 2vw, 200px);


  & > div {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: clamp(20px, 1vw, 5vw);

    & > span:first-child {
      font-family: 'Cormorant SC', sans-serif;
      font-size: clamp(30px, 10vw, 150px);
    }
    & > span:last-child {
      font-size: clamp(16px, 1.3vw, 30px);
    }
  }
}