@use "@/styles/globalStyles" as *;
@use '@/styles/mixins' as *;
@use '@/styles/variables' as *;

.container {
  @extend %container;
}

.content {
  text-align: center;
}

.title {
  margin-bottom: 6vw ;
  padding: 30vh 0;
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: linear-gradient(rgba(230, 222, 222, 0.5), rgba(232, 224, 224, 0.5)), url("@/assets/images/infoPage/info.webp");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.link {
  text-decoration: underline;
  text-underline-offset: clamp(0.315rem, 0.3vw, 1rem);

  &:hover {
    opacity: 0.7;
  }
}

//-----------------------------------adaptive-----------------------------------
@include media(tablet) {
  .title {
    padding: 38vh 0;
  }
}

@include media(smallTablet) {
  .title {
    padding: 40vh 0;
  }
}


