@use '@/styles/mixins' as *;
@use '@/styles/variables' as *;

.column {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.wrapper {
  position: relative;
  width: 100%;
  max-width: 30vw;
  margin-bottom: 30px;
  display: flex;
  flex-direction: column;
  align-items: center;

  img {
    width: 100%;
//    max-width: 80%;
    aspect-ratio: 3 / 4;
    object-fit: cover;
    display: block;
  }
}

.title {
  position: absolute;
  top: 0;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: transparent;
  white-space: nowrap;
  z-index: 2;
}

.description {
  width: 100%;
  margin-top: clamp(20px, 1vw, 2vw);
  line-height: 1.6;
}

.button {
  margin-top: auto;
}

@include media(smallTablet) {
  .wrapper {
    max-width: 60vw;
  }

  .title {
    font-size: $mobileTitleFontSize;
  }
}
