@use '@/styles/mixins' as *;
@use '@/styles/variables' as *;

.column {
  @include flexWrapper(column, center);
  gap: clamp(20px, 2vw, 5vw);

}

.wrapper {
  position: relative;
  @include imageStandardSize;
  @include flexWrapper(column, center);
  text-align: center;


  img {
    aspect-ratio: 3 / 4;
  }
}

.title {
  position: absolute;
  top: 0;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: transparent;
  white-space: nowrap;
  z-index: 2;
}

.text {
  width: 100%;
  margin-top: clamp(20px, 1vw, 2vw);
  line-height: $basicLineHeight;
}

.button {
  margin-top: auto;
}

//-----------------------------------adaptive-----------------------------------
@include media(tablet) {
  .wrapper {
    @include imgWrapper;
  }

  .title {
    font-size: $mobileTitleFontSize;
  }
}
