@use '@/styles/globalStyles' as *;
@use '@/styles/mixins' as *;
@use '@/styles/variables' as *;

.container {
  @extend %container;
}

.content {
  position: relative;
  display: grid;
  grid-template-columns: 1fr 2fr 1fr;
  gap: min(15vw, 200px);
  align-items: center;
  justify-items: center;

  img {
    width: 100%; //почему если уберу то будет большая ширина
    aspect-ratio: 2 / 3;
    object-fit: cover;
  }
}

.mainPhotoWrapper {
  display: flex;
  flex-direction: column;
  gap: clamp(30px, 1vw, 4vw);

  img {
    aspect-ratio: 3 / 4;
  }
}

.text {
  font-weight: 400;
  text-align: center;
  font-size: clamp(1rem, 1.5vw, 2rem);
}

.date {
  position: absolute;
  top: 25%;
  left: 50%;
  font-family: $numberFontFamily;
  font-size: clamp(60px, 10vw, 150px);
  transform: translate(-50%, -50%);
  white-space: nowrap;
  z-index: 1;
}

@include media(smallTablet) {
  .content {
    grid-template-columns: 1fr 1fr;
    gap: 0;
    grid-template-areas:
      "main main"
      "photo1 photo2";
  }

  .mainPhotoWrapper {
    width: 100%;
    max-width: 60vw;
    grid-area: main;
    gap: 0;
  }

  .text {
    padding: 4vh 0;
  }

  .sidePhoto {
    width: 100%;
    max-width: 30vw;
  }

  .sidePhoto:first-of-type {
    grid-area: photo1;
  }

  .sidePhoto:last-of-type {
    grid-area: photo2;
  }

  .date {
    top: 10%;
    font-size: clamp(60px, 15vw, 150px);
  }
}
