@use '@/styles/globalStyles' as *;

.container {
  @extend %container;
}

.content {
  position: relative;
  display: grid;
  grid-template-columns: 1fr 2fr 1fr;
  gap: min(15vw, 200px);
  align-items: center;
  justify-items: center;

  img {
    width: 100%;
    aspect-ratio: 2 / 3;
    object-fit: cover;
  }
}

.mainPhotoWrapper {
  display: flex;
  flex-direction: column;
  gap: clamp(30px, 1vw, 4vw);

  img {
    aspect-ratio: 3 / 4;
  }
}

.text {
  font-weight: 400;
  text-align: center;
  font-size: clamp(15px, 2vw, 22px);
}

.date {
  position: absolute;
  z-index: 1;
  top: 25%;
  left: 50%;

  font-weight: 600;
  font-size: clamp(30px, 10vw, 150px);
  transform: translate(-50%, -50%);
  white-space: nowrap;
}





@media (max-width: 768px) {
  .content {
    grid-template-columns: 1fr;
  }

  img {
    aspect-ratio: 3 / 4;
  }
}

