
@use '@/styles/globalStyles' as *;

.container {
  @extend %container;
}

.content {
  display: grid;
  width: 100%;
  grid-template-columns: 1fr 1fr;
  gap: clamp(200px, 1vw, 2vw);
  justify-items: center;
//  max-width: 1100px; // Ограничиваем общую ширину как на скрине
  margin: 0 auto;
}
