@use '@/styles/variables' as *;
@use '@/styles/mixins' as *;

.list {
  display: flex;
  align-items: center;
  gap: clamp(20px, 1vw, 2vw);
  font-size: $navFontSize;
}

@include media(tablet) {
  .list {
    font-size: clamp(1rem, 5vw, 3rem);
  }
}
