@import "src/assets/fonts/fonts.css";

.header {
  display: grid;
  grid-template-columns: 1fr auto 1fr;
  align-items: center;
  gap: 40px;
  padding: 1.4vw 2vw;

  font-family: Montserrat;
  font-weight: 500;
  font-size: 14px;
}

.navLeft {
  max-width: 350px;
  width: 100%;
  display: flex;
  align-items: center;
  text-transform: uppercase;
  /*text-align: center;*/
}

.navRight {
  display: flex;
  justify-self: end;
  gap: 20px;
  text-transform: uppercase;
}

.h1 {
  font-family: 'Cormorant SC';
  font-size: 43px;
  font-weight: 600;
  align-self: center;
  text-transform: uppercase;
}

a {
  color: black;
}