@use '@/styles/variables' as *;
@import '@/styles/globalStyles';

.section {
  padding: 6vw 0;
}

.content {
  @extend %container;
  margin: auto;
  display: grid;
  grid-template-columns: 1fr 1fr;
  justify-content: space-between;
  gap: min(15vw, 200px);

  img {

      width: 100%;
      aspect-ratio: 2 / 3;
      object-fit: cover;

  }
}

