@use '@/styles/variables' as *;
@import '@/styles/globalStyles';

.container {
  @extend %container;
}

.content {
  text-align: center;
}

.main {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: clamp(50px, 1vw, 2vw);
  align-items: center;
}

.imageWrapper {
  position: relative;
  width: 100%;
  max-width: 25vw;
  margin: 0 auto;
}

.title {
  font-family: 'Cormorant SC', sans-serif;
  font-weight: 500;
  font-size:clamp(30px, 5vw, 90px);

  position: absolute;
  top: 0;
  left: 50%;
  transform: translate(-50%, -50%); // наполовину наружу картинки
  z-index: 2;
}

.link {
  font-family: 'Montserrat', sans-serif;
  font-weight: 500;
  font-size: clamp(10px, 8vw, 20px);
  color: $primaryColor;
  text-decoration: underline black;
  text-underline-offset: 4px;
}

.img {
  margin-bottom: clamp(50px, 2vw, 5vw);
  width: 100%;
  aspect-ratio: 3 / 4;
  object-fit: cover;
  display: block;
}

.button {
  border: 1px solid black;
  padding-top: clamp(8px, 1vw, 16px);
  padding-bottom: clamp(8px, 1vw, 16px);
  padding-left: clamp(12px, 1vw, 24px);
  padding-right: clamp(12px, 1vw, 24px);
  background-color: $primaryColor;
  color: $secondaryColor;
  transition: opacity 0.1s linear;

  font-family: 'Montserrat', sans-serif;
  font-weight: 500;
  font-size: clamp(10px, 1vw, 15px);

  &:hover {
    opacity: 0.9;
  }
}
