@use '@/styles/variables' as *;
@use '@/styles/globalStyles' as *;
@use '@/styles/mixins' as *;

.container {
  @extend %container;
}

.content {
  text-align: center;
}

.main {
  margin-top: clamp(20px, 1.5vw, 50px);
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  align-items: center;
}

.link {
  font-size: clamp(1rem, 1.4vw, 2rem);
  text-underline-offset: clamp(5px, 0.3vw, 16px);
  line-height: clamp(2rem, 2vw, 4rem);
  text-decoration: underline black;
}

.wrapper {
  position: relative;
  margin: 0 auto;

  img {
    margin-bottom: clamp(50px, 2vw, 5vw);
    width: 100%;
    aspect-ratio: 3 / 4;
    object-position: 80% 50%;
    object-fit: cover;
    display: block;
  }
}

.title {
  position: absolute;
  top: 0;
  left: 50%;
  transform: translate(-50%, -50%); // наполовину наружу картинки
  z-index: 2;
}

.desktopBreak {
  display: block;
}

@include media(smallTablet) {
  .content {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: clamp(20px, 2vw, 6vw);
  }

  .main {
    display: flex;
    flex-direction: column;
    gap: clamp(20px, 4vw, 5vw);
  }

  .title {
    font-size: $mobileTitleFontSize
  }

  .link:first-of-type {
    order: 1;
    margin-top: 2vh;
  }

  .link:last-of-type {
    order: 2;
    margin-bottom: 2vh;
  }
  .wrapper {
    max-width: 60vw;

    img {
      margin-bottom: clamp(10px, 2vw, 5vw);
    }
  }

  .desktopBreak {
    display: none;
  }
}
