@use '@/styles/variables' as *;
@use '@/styles/globalStyles' as *;

.container {
  @extend %container;
}

.content {
  text-align: center;
}

.main {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: clamp(50px, 1vw, 2vw);
  align-items: center;
}

.wrapper {
  position: relative;
  width: 100%;
  max-width: 25vw;
  margin: 0 auto;

  img {
    margin-bottom: clamp(50px, 2vw, 5vw);
    width: 100%;
    aspect-ratio: 3 / 4;
    object-fit: cover;
    display: block;
  }
}

.title {
  font-size:clamp(30px, 5vw, 90px);

  position: absolute;
  top: 0;
  left: 50%;
  transform: translate(-50%, -50%); // наполовину наружу картинки
  z-index: 2;
}

.link {
  font-size: clamp(0.8rem, 1.4vw, 1.8rem);
  text-decoration: underline black;
  text-underline-offset: clamp(5px, 0.3vw, 1rem);
  line-height: clamp(1rem, 3vw, 2rem);
}
