.column {
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.wrapper {
  position: relative;
  width: 100%;
  max-width: 70%; // Фиксируем ширину картинки для стабильности
  margin-bottom: 30px;

  img {
    width: 100%;
    aspect-ratio: 3 / 4;
    object-fit: cover;
    display: block;
  }
}

.title {
  background-color: transparent;

  position: absolute;
  top: 0;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 2;

  font-size:clamp(30px, 5vw, 90px);
  white-space: nowrap;
}

.description {
  width: 100%;
  margin-top: clamp(20px, 1vw, 2vw);

  font-size: clamp(15px, 1vw, 22px);
  line-height: 1.6;
}

.button {
  margin-top: auto;
}