@use '@/styles/globalStyles' as *;
@use '@/styles/mixins' as *;

.container {
  @extend %container;
}

.content {
  display: grid;
  width: 100%;
  grid-template-columns: 1fr 1fr;
  gap: clamp(200px, 1vw, 2vw);
//  gap: 150px;
  justify-items: center;
  margin: clamp(20px, 1.5vw, 50px) auto 0;
}

@include media(smallTablet) {
  .content {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: clamp(100px, 1.5vw, 50px);
  }
}
