@use '@/styles/globalStyles' as *;
@use '@/styles/mixins' as *;

.container {
  @extend %container;
}

.content {
  display: grid;
  width: 100%;
  grid-template-columns: 1fr 1fr;
  gap: clamp(2vw, 12vw, 100px);
  justify-items: center;
  margin: clamp(20px, 1.5vw, 50px) auto 0;
}

//-----------------------------------adaptive-----------------------------------
@include media(tablet) {
  .content {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: clamp(100px, 1.5vw, 50px);
  }
}
