@use '@/styles/variables' as *;

.button {
  position: fixed; // Кнопка всегда на месте
  top: 1.8vw;
  right: 20px;
  width: 30px;
  height: 30px;
  background-color: transparent;
  border: none;
  z-index: 1000003; // Самый верхний слой

  .line {
    position: absolute;
    top: 50%;
    right: 0;
    width: 30px;
    height: 1px;
    background-color: $primaryColor;
    transition: transform 0.3s ease;

    //horizontal line
    &:first-child {
      transform: rotate(0deg);
    }
    //vertical line
    &:last-child {
      transform: rotate(90deg);
    }
  }

  &.open {
    .line {
      &:first-child {
        transform: rotate(45deg);
      }
      &:last-child {
        transform: rotate(135deg);
      }
    }
  }
}



