@use '@/styles/variables' as *;

.label {
  display: flex;
  flex-direction: column;
  gap: 5px;
  color: #787676;
}

.input {
  padding: 5px 10px;
  border: none;
  border-bottom: 2px solid $primaryColor;
  background-color: $secondaryColor;
  font-family: inherit;
  font-weight: 500;
  font-size: clamp(1rem, 2vw, 1.5rem);
  text-transform: none;

  &::placeholder {
    font-weight: 400;
    font-size: clamp(1rem, 1vw, 1.5rem);
    color: #787676;
  }
}

