.menu {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;

  position: fixed;
  inset: 0;
  width: 100%;
  z-index: 9999;

  background-color: white; // Или ваш $secondaryColor
  padding: 20px;

  overflow-y: auto;

  opacity: 0;
  visibility: hidden;
  transform: translateY(-10px);
  transition: opacity .3s ease, transform .3s ease, visibility .3s;

  &.isOpen {
    opacity: 1;
    visibility: visible;
    transform: translateY(0);
  }

  .mobileNav {
    ul {
      display: flex;
      flex-direction: column;
      align-items: center;
    }
  }
}