@use '@/styles/variables' as *;
@use '@/styles/globalStyles' as *;
@use '@/styles/mixins' as *;

.timerSection {
  position: relative;
  min-height: 90vh;
  display: flex;
  align-items: center;
  background-image: url('@/assets/images/tasha-marie-kCdjXEsCm2I-unsplash.webp');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 0 50%;

  &::before {
    position: absolute;
    content: '';
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(19, 17, 17, 0.87);
    z-index: 1; // поверх фона, но под контентом
  }
}

.container {
  @extend %container;
}

.content {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  gap: $titleGap;
  color: $secondaryColor;
  z-index: 2;
}

@include media(tablet) {
  .timerSection {
    min-height: 50vh;
  }
}

@include media(smallTablet) {
  .timerSection {
    min-height: 100vh;
  }
  .content {
    gap: 5vh;
  }

  .title {
    font-size: $mobileTitleFontSize;
  }
}
