@import '../../../../styles/globalStyles';

.contentWrapper {
  @extend %container;
}

.imageWrapper {
  display: grid;
  grid-template-columns: 307px 625px 307px;
  width: 100%;
  justify-content: space-between;

  .img {
    width: 100%;
  }
}

.date {
  position: absolute;
  z-index: 1;
  top: 50%;
  left: 50%;

  font-size: 100px;
}

.text {
  text-align: center;
  font-size: 25px;
}
