@use '@/styles/variables' as *;
@use '@/styles/mixins' as *;
@use '@/styles/globalStyles' as *;

.form {
  width: 100%;
  @include flexWrapper(raw);
  gap: 3vw;
}

.formInputWrapper {
  @include flexWrapper(column);
  gap: 2vw;
}

.telegramInput {
  text-transform: lowercase;
}

.button {
  align-self: center;
}

//---------------------------------adaptive-------------------------------------
@include media(tablet) {
  .form {
    gap: 10vw;
  }

  .formInputWrapper {
    gap: 5vw;
  }

  .button {
    @include tabletButton;
  }
}

@include media(smallTablet) {
  .formInputWrapper {
    gap: 10vw;
  }

  .button {
    align-self: auto;
  }

  .closeButton {
    top: clamp(15px, 5.5vw, 60px);
  }
}