@use '@/styles/variables' as *;

.list {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  text-transform: uppercase;
  gap: 20px;
}

.link {
  color: $primaryColor
}

.button {
//  padding: 16px 24px;
  padding-top: clamp(8px, 1vw, 16px );
  padding-bottom: clamp(8px, 1vw, 16px );
  padding-left: clamp(12px, 1vw, 24px );
  padding-right: clamp(12px, 1vw, 24px );
  border: 1px solid $primaryColor;

  &:hover {
    background-color: $primaryColor;
    color: $secondaryColor;
    transition: .1s background-color linear,.1s color linear;
  }
}
